@import url(http://fonts.googleapis.com/css?family=Schoolbell);
@import url(http://fonts.googleapis.com/css?family=Cabin:bold);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	background:#5A5A5A;
	text-align: center;
	font-family: 'Cabin', arial, serif; 
	min-height:420px;
}

.centerline {
	z-index:-1;
	position: fixed;
	background:#F90;
	height:auto;
	width:6px;
	top:0px;
	height:100%
}

#one{
	left:48%;
	right: auto;
}

#two{
	right:48%;
	left: auto;
}

#signcontainer {
	position: fixed;
	z-index:3;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	bottom:0px;
}
#streetsign {
	z-index:3;
	float:none;
	position:relative;
	background:#093;
	color: #FFF;
	font-size:200%;
	border-style:solid;
	border-width:2px;
	border-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
}

#streetsignpost{
	z-index:2;
	background:#C3C3C3;
	width:20px;
	height:40px;
	top:auto;
	bottom:0px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	background: -moz-linear-gradient(left, #838383 60%, #fff 100%);
	background: -webkit-gradient(linear, left center, right center, from(#838383), color-stop(0.6,#838383),to(#fff));
}

#sidearrow {
	text-shadow: 2px 2px 2px #5A5A5A;
	font-family: 'Schoolbell', arial, serif; 
	position: relative;
	z-index:4;
	font-size:300%;
	background-image:url("rightarrow.png");
	background-repeat:no-repeat;
	height:149px;
	width:320px;
	top:-5px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	padding: 65px 0px 0px 0px;
}

.arrowleft {
	background-image:url("leftarrow.png");
}

.icon {
	position: relative;
	height:230px;
	width:130px;
	bottom:0px;
	margin-top:-20px;
	background-repeat:no-repeat;
	background-position:center; 
	visibility:visible;
}

.lefticon {
	background-image:url("freeparkingleft.png");
	left:15px;
	float:left;
}

.righticon {
	background-image:url("freeparkingright.png");
	right:15px;
	float:right;
}

.freeparking {
	visibility:visible;
}

.meter {
	visibility:visible;
	background-image:url("meter.png");
}

.permit {
	visibility:visible;
	background-image:url("permit.png");
}

.noparking {
	visibility:visible;
	background-image:url("x.png");
}

.snow {
	visibility:visible;
	background-image:url("x.png");
}
